version: 2
updates:
  # Update actions on a monthly interval
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      github-actions-dependency:
        applies-to: version-updates
        patterns:
          - "*"
