name: "[DLS] [U22/24] Build from sources using make build"
run-name: "[DLS] [U22/24] Build from sources using make build (by ${{ github.actor }})"
on:
  workflow_call:
  workflow_dispatch:

permissions: {}
env:
  dlstreamer-version: "2025.2.0"
  DLS_REL_PATH: "./dlstreamer-repo"

jobs:
  build:
    name: "Build from sources using make build on ${{ matrix.ubuntu_version }}"
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            ubuntu_version: ubuntu22
          - os: ubuntu-24.04
            ubuntu_version: ubuntu24
    steps:
    - name: Initial environment clean
      run: |
        sudo rm -rf dlstreamer-repo

    - name: Check out dlstreamer repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #5.0.0
      with:
        persist-credentials: false
        path: dlstreamer-repo

    - name: Init submodules
      run: |
        cd dlstreamer-repo
        git submodule update --init thirdparty/spdlog


    # ======================================================== BUILDING PART ========================================================
    - name: Install prerequisites
      run: |
        cd ${{ env.DLS_REL_PATH }}/scripts
        ./DLS_install_prerequisites.sh

    - name: Install build dependencies
      run: |
        echo "Installing build dependencies for ${{ matrix.ubuntu_version }}"
        if [[ ${{ matrix.ubuntu_version }} == "ubuntu22" ]]; then
          echo "Executing Ubuntu 22.04 specific setup..."
         sudo apt-get update && \
          sudo apt-get install -y wget vainfo xz-utils python3-pip python3-gi gcc-multilib libglib2.0-dev \
              flex bison autoconf automake libtool libogg-dev make g++ libva-dev yasm libglx-dev libdrm-dev \
              python-gi-dev python3-dev unzip libgflags-dev \
              libgirepository1.0-dev libx265-dev libx264-dev libde265-dev gudev-1.0 libusb-1.0 nasm python3-venv \
              libcairo2-dev libxt-dev libgirepository1.0-dev libgles2-mesa-dev wayland-protocols libcurl4-openssl-dev \
              libssh2-1-dev cmake git valgrind numactl libvpx-dev libopus-dev libsrtp2-dev libxv-dev \
              linux-libc-dev libpmix2 libhwloc15 libhwloc-plugins libxcb1-dev libx11-xcb-dev \
              ffmpeg libpaho-mqtt-dev libpostproc-dev libavfilter-dev libavdevice-dev \
              libswscale-dev libswresample-dev libavutil-dev libavformat-dev libavcodec-dev libxml2-dev ocl-icd-opencl-dev \
              opencl-headers
        elif [[ ${{ matrix.ubuntu_version }} == "ubuntu24" ]]; then
          echo "Executing Ubuntu 24.04 specific setup..."
          sudo apt-get update && \
          sudo apt-get install -y wget vainfo xz-utils python3-pip python3-gi gcc-multilib libglib2.0-dev \
              flex bison autoconf automake libtool libogg-dev make g++ libva-dev yasm libglx-dev libdrm-dev \
              python-gi-dev python3-dev unzip libgflags-dev libcurl4-openssl-dev \
              libgirepository1.0-dev libx265-dev libx264-dev libde265-dev gudev-1.0 libusb-1.0 nasm python3-venv \
              libcairo2-dev libxt-dev libgirepository1.0-dev libgles2-mesa-dev wayland-protocols \
              libssh2-1-dev cmake git valgrind numactl libvpx-dev libopus-dev libsrtp2-dev libxv-dev \
              linux-libc-dev libpmix2t64 libhwloc15 libhwloc-plugins libxcb1-dev libx11-xcb-dev \
              ffmpeg libpaho-mqtt-dev libopencv-dev libpostproc-dev libavfilter-dev libavdevice-dev \
              libswscale-dev libswresample-dev libavutil-dev libavformat-dev libavcodec-dev libtbb12 libxml2-dev libopencv-dev \
              ocl-icd-opencl-dev
        else
          echo "Unknown Ubuntu version: ${{ matrix.ubuntu_version }}"
          exit 1
        fi

    - name: Set up a Python environment
      run: |
        python3 -m venv ~/python3venv
        source ~/python3venv/bin/activate
        pip install --upgrade pip==24.0
        pip install meson==1.4.1 ninja==1.11.1.1

    - name: Install OpenVINO
      run: |
        cd ${{ env.DLS_REL_PATH }}
        echo "Installing OpenVINO..."
        sudo ./scripts/install_dependencies/install_openvino.sh
        echo "Installing OpenVINO dependencies..."
        sudo -E /opt/intel/openvino_2025/install_dependencies/install_openvino_dependencies.sh
        echo "Setting OpenVINO environment variables..."
        echo "INTEL_OPENVINO_DIR=/opt/intel/openvino_2025" >> $GITHUB_ENV
        echo "OPENVINO_LIB_PATHS=/opt/intel/openvino_2025/runtime/lib/intel64:/opt/intel/openvino_2025/runtime/3rdparty/tbb/lib" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=/opt/intel/openvino_2025/runtime/lib/intel64:/opt/intel/openvino_2025/runtime/3rdparty/tbb/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "PYTHONPATH=/opt/intel/openvino_2025/python/python3:$PYTHONPATH" >> $GITHUB_ENV

    - name: Build DL Streamer using make build
      run: |
        cd ${{ env.DLS_REL_PATH }}
        source ~/python3venv/bin/activate
        make build

    - name: Install DL Streamer
      run: |
        cd ${{ env.DLS_REL_PATH }}
        sudo -E make install

    - name: Set up environment for Docker builds
      run: |
        echo "LIBVA_DRIVER_NAME=iHD" >> $GITHUB_ENV
        echo "GST_PLUGIN_PATH=/opt/intel/dlstreamer/Release/lib:/opt/intel/dlstreamer/gstreamer/lib/gstreamer-1.0:$HOME/dlstreamer/build/intel64/Release/lib:$HOME/dlstreamer/build/deps/gstreamer-bin/lib/gstreamer-1.0:$GST_PLUGIN_PATH" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=/opt/intel/dlstreamer/Release/lib:/opt/intel/dlstreamer/gstreamer/lib:/opt/intel/dlstreamer/opencv/lib:/opt/intel/dlstreamer/rdkafka/lib:$HOME/dlstreamer/build/intel64/Release/lib:$HOME/dlstreamer/build/deps/gstreamer-bin/lib:$HOME/dlstreamer/build/deps/opencv-bin/lib:$HOME/dlstreamer/build/deps/rdkafka-bin/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "LIBVA_DRIVERS_PATH=/usr/lib/x86_64-linux-gnu/dri" >> $GITHUB_ENV
        echo "GST_VA_ALL_DRIVERS=1" >> $GITHUB_ENV
        echo "PATH=/opt/intel/dlstreamer/Release/bin:/opt/intel/dlstreamer/gstreamer/bin:/opt/intel/dlstreamer/opencv/bin:$HOME/dlstreamer/build/intel64/Release/bin:$HOME/dlstreamer/build/deps/gstreamer-bin/bin:$HOME/dlstreamer/build/deps/opencv-bin/bin:$HOME/.local/bin:$HOME/python3venv/bin:$PATH" >> $GITHUB_ENV
        echo "PKG_CONFIG_PATH=/opt/intel/dlstreamer/Release/lib/pkgconfig:/opt/intel/dlstreamer/gstreamer/lib/pkgconfig::$HOME/dlstreamer/build/intel64/Release/lib/pkgconfig:$HOME/dlstreamer/build/deps/gstreamer-bin/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV
        echo "GST_PLUGIN_FEATURE_RANK=${GST_PLUGIN_FEATURE_RANK},ximagesink:MAX" >> $GITHUB_ENV
        echo "GI_TYPELIB_PATH=/opt/intel/dlstreamer/gstreamer/lib/girepository-1.0:/usr/lib/x86_64-linux-gnu/girepository-1.0gi" >> $GITHUB_ENV
        echo "PYTHONPATH=/opt/intel/dlstreamer/gstreamer/lib/python3/dist-packages:/opt/intel/dlstreamer/python:/opt/intel/dlstreamer/gstreamer/lib/python3/dist-packages:$PYTHONPATH" >> $GITHUB_ENV

    - name: Install Python dependencies
      run: |
        sudo apt-get install -y -q --no-install-recommends gcc cmake python3-full python-gi-dev python3-dev python3-pip \
             libglib2.0-dev libcairo2-dev libopencv-objdetect-dev libopencv-photo-dev libopencv-stitching-dev libopencv-video-dev \
             libopencv-calib3d-dev libopencv-core-dev libopencv-dnn-dev libgirepository1.0-dev

        source ~/python3venv/bin/activate
        cd ${{ env.DLS_REL_PATH }}
        python3 -m pip install -r requirements.txt

    - name: Verify DL Streamer installation
      run: |
        echo "Verifying DL Streamer installation..."
        gst-inspect-1.0 | grep gva || echo "GVA plugins not found"
        gst-inspect-1.0 gvadetect || echo "gvadetect plugin not available"

    # ======================================================== CLEANUP PART ========================================================
    - name: Clean up
      if: always()
      run: |
        rm -rf ~/python3venv
        sudo rm -rf ${{ env.DLS_REL_PATH }}
